.vs/*
tex/*
!tex/*.tex
!tex/*.pdf
!tex/*.bib
!tex/figures/.gitkeep

*.exe
*.bak
build*/
subprojects/packagecache/
subprojects/fmt-*
subprojects/magic_enum/
subprojects/cxxopts-*
subprojects/range-v3-*
*.pdf
*.s
*.out
Intel Intrinsics Guide/
